@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin vp-1920 {
  @media (max-width: $vp-1920) {
    @content;
  }
}

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1)) {
    @content;
  }
}

@mixin vp-1100 {
  @media (max-width: $vp-1100) {
    @content;
  }
}

@mixin vp-771 {
  @media (max-width: ($vp-770 + 1)) {
    @content;
  }
}

@mixin vp-769 {
  @media (max-width: ($vp-770 - 1)) {
    @content;
  }
}

@mixin vp-320 {
  @media (max-width: $vp-320) {
    @content;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}
// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
