.advantages {
  padding: 50px;

  @include vp-769 {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
  }
}

.advantages__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1222px;
  min-height: 630px;
  margin: 0 auto;
}

.advantages__card {
  min-height: 300px;
  min-width: 270px;
  width: 48.5%;
  margin-bottom: 30px;
  padding: 40px 45px;
  padding-left: 40px;

  color: $color-aqua-blue;

  border: 1px solid $color-white-grey;
  border-left: 5px solid $color-aqua-blue;

  @include vp-1100 {
    padding-bottom: 17px;
    min-height: 360px;
  }

  @include vp-769 {
    padding: 30px 30px 42px 25px;
    margin-left: auto;
    margin-right: auto;
    min-height: 325px;

    &:first-child {
      min-height: 340px;
    }
  }

  &:nth-child(2n) {

  }

  &:hover,
  &:hover p {
    color: $color-default-white;

    background-color: $color-aqua-blue;
  }

  p {
    color: $color-dark-blue;

    @include vp-1100 {
      margin-top: 5px;
    }

    @include vp-769 {
      font-size: 14px;
      line-height: 19px;
    }
  }

  h3 {
    margin: 15px auto;

    font-family: "Roboto Condensed";
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;

    @include vp-1100 {
      margin: 9px auto;
    }

    @include vp-769 {
      margin-bottom: 5px;

      font-size: 20px;
      line-height: 31px;
    }
  }
}

.advantages__card svg {
  width: 35px;
  height: 35px;

  @include vp-769 {
    width: 30px;
    height: 30px;
  }
}
