.button {
  display: block;
  padding: 10px 15px;

  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white-text;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
