.control {
  display: flex;
  align-items: flex-end;

  font-size: 14px;
  line-height: 16px;

  &:hover {
    color: $color-deep-blue;
  }
}

.control input {
  position: relative;

  align-self: center;
  margin: 13px 10px 0 12px;
  appearance: none;

  &:hover {
    &::before,
    &::after {
      border-color: $color-deep-blue;
    }
  }

  &::before {
    display: block;

    content: "";

    width: 15px;
    height: 15px;

    background-color: transparent;
    border: 1px solid $color-default-white;
    border-radius: 4px;
  }

  &:checked {
    &::after {
      position: absolute;
      top: 3px;
      left: 3px;
      content: "";

      display: block;
      width: 6.5px;
      height: 4.5px;

      border: 1px solid $color-default-white;
      border-top: none;
      border-right: none;

      transform: rotate(-45deg);
    }
  }

  &:active::after {
    opacity: 0.3;
  }

  &:disabled {
    &::before {
      opacity: 0.2;
    }

    &::after {
      opacity: 0.2;
    }
  }

  &[aria-invalid="true"]::before {
    border-color: $color-error;
  }

  @include vp-1023 {
    margin-left: 0;
  }

  @include vp-768 {
    margin-left: 5px;
    margin-bottom: 9px;
  }
}
