.feedback {
  min-height: 580px;

  background-color: $color-aqua-blue;
  background-image: linear-gradient(to bottom right, $color-lite-dark-blue 50%, $color-aqua-blue 50%);
  background-size: 50%;
  background-repeat: no-repeat;

  @include vp-1023 {
    background-image: none;
  }
}

.feedback__wrapper {
  position: relative;

  max-width: 1300px;
  padding: 130px 50px 250px;
  margin: 0 auto;

  &::before {
    position: absolute;
    left: 42px;
    top: 46%;
    content: "";

    display: block;
    width: 510px;
    height: 285px;

    background-image: url("../img/paper-airplane.png");
    background-size: cover;
    background-repeat: no-repeat;

    transform: translateY(-50%);

    @supports (background-image: url("../img/paper-airplane.webp")) {
      background-image: url("../img/paper-airplane.webp");
    }

    @include retina {
      background-image: url("../img/paper-airplane@2x.png");

      @supports (background-image: url("../img/paper-airplane@2x.webp")) {
        background-image: url("../img/paper-airplane@2x.webp");
      }
    }
  }

  @include vp-1023 {
    padding-top: 15px;
    padding-bottom: 125px;

    &::before {
      content: none;
    }
  }

  @include vp-768 {
    padding: 15px 25px 92px;
  }
}

.feedback__form {
  position: relative;
  z-index: 1;

  margin-left: auto;

  @include vp-1023 {
    margin: auto;
  }
}

.feedback__form h2 {
  margin-top: 35px;
  margin-bottom: 14px;

  font-family: "Roboto Condensed", "arial", sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;

  @include vp-1023 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  @include vp-768 {
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback__form p {
  margin-top: 10px;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 23px;
  }

  @include vp-768 {
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 19px;
  }
}

.feedback__form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;

  @include vp-768 {
    grid-template-columns: 1fr;
  }
}

.feedback__form-wrapper textarea {
  grid-column: span 2;

  @include vp-768 {
    grid-column: span 1;
  }
}


.feedback__form-button {
  max-width: 265px;
  margin-top: 8px;

  @include vp-768 {
    max-width: 100%;
    margin-top: 0;
  }
}
