.footer-logo {
  display: block;
  width: 215px;
  height: 55px;
  margin-bottom: 30px;

  @include vp-1100 {
    margin-bottom: 10px;
  }
}

.footer-logo img {
  width: 215px;
  height: 55px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
