.form {
  max-width: 580px;

  color: $color-default-white;

  @include vp-1023 {
    max-width: 670px;
  }
}

.form__title {
  margin-bottom: 14px;

  font-family: "Roboto Condensed", "arial", sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-768 {
    font-size: 30px;
    line-height: 42px;
  }
}

.form__description {
  margin-top: 10px;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 23px;
  }

  @include vp-768 {
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 19px;
  }
}

.form__user-question,
.form__user-name {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  border: none;
}

.form__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;

  @include vp-768 {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.form__button {
  min-height: 45px;
  align-self: flex-end;

  font-size: 16px;
  line-height: 19px;

  background-color: $color-dark-blue;
  border-radius: 3px;

  @include vp-1023 {
    max-width: 265px;
  }
}

.form__checkbox {
  order: 1;
}
