.form {
  max-width: 580px;

  color: $color-default-white;

  @include vp-1023 {
    max-width: 670px;
  }
}

.form__wrapper {
  display: grid;
  row-gap: 20px;
}

.form__button {
  min-height: 45px;
  align-self: flex-end;

  font-size: 16px;
  line-height: 19px;

  background-color: $color-dark-blue;
  border-radius: 3px;

  &:hover {
    background-color: $color-deep-blue;
  }

  &:active {
    color: rgba(255, 255, 255, 0.6);
  }
}

.form__checkbox {
  order: 1;
}

.form input:not([type="checkbox"], [type="radio"]),
.form textarea {
  width: 100%;

  font: inherit;
  color: $color-default-black;

  border: none;
  border-radius: 3px;
  background-color: $color-input-blue;

  &::placeholder {
    color: $color-white-text;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.form textarea {
  width: 100%;
  max-height: 155px;
  padding: 20px 15px 25px;
  margin-bottom: 6px;

  @include vp-1023 {
    padding-top: 30px;
  }

  @include vp-768 {
    max-height: 180px;
    padding-top: 22px;
    margin-bottom: 10px;
  }
}

.form input:not([type="checkbox"], [type="radio"]) {
  min-height: 50px;
  padding: 15px;

  &:focus[aria-invalid="true"] {
    background-color: $color-error;
  }

  &:focus[aria-invalid="false"] {
    background-color: $color-success;
  }

  &[aria-invalid="true"] {
    outline: 1px solid $color-error;
  }
}

.form input:disabled,
.form input:disabled:hover,
.form input:disabled:active {
  background-color: $color-default-white;
  opacity: 0.2;


  &::placeholder {
    color: $color-default-black;
  }
}
