.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;
  max-width: 43.3%;
  padding-left: 10px;
  padding-right: 10px;

  @include vp-1100 {
    max-width: 100px;
    padding: 0;
    padding-bottom: 15px;
  }

  @include vp-769 {
    padding-bottom: 5px;
  }
}

.header-contacts__item {
  position: relative;

  min-height: 40px;
  min-width: 40px;
  padding: 8px 10px 8px 46px;

  color: $color-white-text;

  text-decoration: none;


  &--mail,
  &--tel {
    &::before {
      @include pseudo;
      left: 15px;

      width: 20px;
      height: 20px;
    }
  }
  &--mail::before {
    background-image: url("../img/svg/email-icon.svg");
  }

  &--tel::before {
    background-image: url("../img/svg/phone-call-icon.svg");
  }

  @include vp-1100 {
    width: 40px;
    height: 40px;
    padding: 0;

    &--mail,
    &--tel {
      &::before {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

.header-contacts__item-text {
  @include vp-1100 {
    display: none;
  }
}
