.header-contacts {
  display: grid;
  grid-template-columns: repeat(2, minmax(155px, auto));
  min-height: 60px;
  max-width: 700px;
  padding-left: calc(35% - 300px);
  padding-right: 10px;
  margin: 0 auto;

  list-style: none;

  @include vp-1023 {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: calc(100% - 215px);
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
  }

  @include vp-768 {
    min-height: 45px;
    padding-bottom: 5px;
    max-width: calc(100% - 40px);
  }
}

.header-contacts__list-item {
  display: flex;
  align-items: center;

  @include vp-1023 {
    margin-right: 20px;
  }

  @include vp-768 {
    margin-right: 0;
    margin-left: 20px;
  }
}

.header-contacts__item {
  position: relative;

  min-height: 40px;
  min-width: 40px;
  padding: 8px 10px 8px 46px;

  color: $color-white-text;

  text-decoration: none;

  &:hover {
    color: $color-deep-blue;

    &::before {
      opacity: 0.4;
    }
  }

  &:active {
    opacity: 0.5;
  }

  &--mail,
  &--tel {
    &::before {
      content: "";
      position: absolute;
      left: 15px;

      display: block;
      width: 20px;
      height: 20px;
    }
  }

  &--mail::before {
    background-image: url("../img/svg/email-icon.svg");
  }

  &--tel::before {
    background-image: url("../img/svg/phone-call-icon.svg");
  }

  @include vp-1023 {
    width: 40px;
    height: 40px;
    padding: 0;

    &--mail,
    &--tel {
      &::before {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

.header-contacts__item span {
  @include vp-1023 {
    display: none;
  }
}
