.hero-block {

  min-height: 880px;
  padding: 50px;
  padding-top: 305px;
  margin-bottom: 70px;

  color: $color-white-text;

  background-color: #535B63;
  background-image: url("../img/main-block-background-desktop.jpg");
  background-size: cover;

  @include vp-1100 {
    min-height: 650px;
    padding-top: 190px;
    margin-bottom: 30px;
  }

  @include vp-771 {
    background-image: url("../img/main-block-background-tablet.jpg");
  }

  @include vp-769 {
    min-height: 577px;
    padding: 167px 25px 50px;
  }

  @include vp-320 {
    background-image: url("../img/main-block-background-mobile.jpg");
  }

  @include retina {
    @media(min-width: 772px){
      background-image: url("../img/main-block-background-desktop@2x.jpg");
    }

    @include vp-771 {
      background-image: url("../img/main-block-background-tablet@2x.jpg");
    }

    @include vp-320 {
      background-image: url("../img/main-block-background-mobile@2x.jpg");
    }
  }
}

.hero-block__wrapper {
  max-width: 1220px;
  padding-left: 125px;
  margin: 0 auto;

  @include vp-1100 {
    padding-left: 0;
  }
}

.hero-block__title {
  margin: 0 0 32px;

  font-family: "Roboto Condensed", "arial", sans-serif;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 5px;

  @include vp-1100 {
    margin-bottom: 20px;

    font-size: 64px;
    line-height: 75px;
  }

  @include vp-769 {
    font-size: 36px;
    line-height: 42px;
  }

  @include vp-1100 {
    margin-bottom: 0;
  }
}

.hero-block__description {
  max-width: 680px;
  margin-bottom: 45px;

  font-size: 22px;
  line-height: 34px;

  @include vp-1100 {
    margin-top: 1px;
    margin-bottom: 55px;
  }

  @include vp-769 {
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;
    margin-bottom: 45px;
  }
}

.hero-block__button {
  display: block;
  width: 100%;
  max-width: 410px;
  min-height: 55px;

  font-size: 18px;
  line-height: 21px;

  background-color: $color-aqua-blue;
  border-radius: 3px;

  @include vp-1100 {
    margin-left: 45px;
  }

  @include vp-769 {
    margin-left: 0;
    min-height: 40px;

    font-size: 14px;
    line-height: 16px;
  }
}

.hero-block__button-mobile-text {
  display: none;

  @include vp-769 {
    display: block;
  }
}

.hero-block__button-desktop-tablet-text {
  @include vp-769 {
    display: none;
  }
}
